<ion-content [fullscreen]="true" class="ion-padding" style="background-color: #f3e8ff;">
  <div class="container">
    <!-- Sección del escáner QR -->
    <div class="qr-scanner">
      <div class="scanner-box">
        <h3>Escanear código promocional</h3>
        <!-- Área de escaneo -->
        <div class="scanner-area">
          <!-- Escáner QR cuando se activa -->
          <div *ngIf="isScanning" class="qr-scanner-box">
            <zxing-scanner

              [formats]="[BarcodeFormat.QR_CODE]"
              (scanSuccess)="onScanSuccess($event)"
              [device]="currentDevice || undefined"
              [enable]="scannerEnabled">
            </zxing-scanner>
          </div>
        </div>

        <!-- Botón para escanear QR -->
        <ion-button class="custom-button-1" (click)="scanQR()"  >
          <ion-icon slot="start" name="qr-code-outline"></ion-icon>
          Escanear QR
        </ion-button>
      </div>
    </div>

    <!-- Sección del resumen de la orden -->
    <div class="order-summary" >
        <div>
          <ion-grid>
            <ion-row>
              <ion-col><strong>Producto</strong></ion-col>
              <ion-col><strong>Cantidad</strong></ion-col>
            </ion-row>
            <ion-row *ngFor="let item of orderItems">
              <ion-col>{{ item.nombre }}</ion-col>
              <ion-col>{{ item.cantidad }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col><strong>Total de puntos:</strong></ion-col>
              <ion-col></ion-col>
              <ion-col>{{ totalPoints }}</ion-col>
            </ion-row>
          </ion-grid>

          <ion-button class="custom-button-2" (click)="canjearOrden()">
            Canjear puntos
          </ion-button>
        </div>
    </div>
  </div>
</ion-content>
