<ion-content>
  <div class="container">
    <div class="header-content">
      <h1>Perfiles</h1>
      <ion-button class="custom-button-1" routerLink="/registro"
        >Añadir cajero</ion-button
      >
    </div>
    <div class= "perfiles" >
      <ion-spinner *ngIf="!administradores" color="warning"></ion-spinner>
      <ion-card  class="horizontal-card" *ngFor="let admin of administradores">
        <div class="card-content-wrapper">
          <img
            alt="Silhouette of mountains"
            src="../../../assets/svg/image.png"
            class="card-image"
          />
          <div class="text-content">
            <ion-card-header>
              <ion-card-title>Administrador {{admin.id_Cuenta}}</ion-card-title>
              <ion-card-subtitle>Nombre: {{admin.usuario.usuario_Usuario}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Teléfono:  {{admin.cuenta_Telefono}} 
              <ion-button fill="clear" color="warning">Cerrar sesión</ion-button>
            </ion-card-content>
          </div>
        </div>
      </ion-card>
      
      <ion-spinner *ngIf="!cajeros" color="warning"></ion-spinner>
      <ion-card *ngFor="let cajero of cajeros">
        <ion-card-header>
          <ion-card-title>Cajero {{cajero.id_Cuenta}}</ion-card-title>
          <ion-card-subtitle>Nombre: {{cajero.usuario.usuario_Usuario}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content> Teléfono: {{cajero.cuenta_Telefono}} 
          <ion-button fill="clear" color="warning" >Editar</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
   
  </div>
</ion-content>
