<ion-content>
  <div class="container">
    <div class="header-content">
      <h1>Perfiles</h1>
      <ion-button class="custom-button-1" routerLink="/registro"
        >Añadir cajero</ion-button
      >
    </div>
    <div class= "perfiles" >
      <ion-card  class="horizontal-card">
        <div class="card-content-wrapper">
          <img
            alt="Silhouette of mountains"
            src="../../../assets/svg/image.png"
            class="card-image"
          />
          <div class="text-content">
            <ion-card-header>
              <ion-card-title>Administrador</ion-card-title>
              <ion-card-subtitle>Nombre: Juanito Banana</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Teléfono: 2711234568
              <ion-button fill="clear" color="warning">Cerrar sesión</ion-button>
            </ion-card-content>
          </div>
        </div>
      </ion-card>
      

      <ion-card >
        <ion-card-header>
          <ion-card-title>Cajero</ion-card-title>
          <ion-card-subtitle>Nombre: Juanito Perez</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content> Teléfono: 2711234568 
          <ion-button fill="clear" color="warning" >Editar</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
   
  </div>
</ion-content>
