<ion-content>
  <div class="content-container">
    <h1 class="title">Editar producto</h1>
    <div class="contenedor">
      <!-- Selector de Categoría -->
      <div class="select">
        <ion-select
          color="warning"
          class="input-container"
          placeholder="1"
          interface="popover"
          fill="outline"
          label="Categoria"
          [(ngModel)]="producto.id_Categoria"
        >
          <ion-select-option
            *ngFor="let categoria of categorias"
            [value]="categoria.id_Categoria"
            >{{ categoria.categoria_Nombre }}</ion-select-option
          >
        </ion-select>
        <ion-button
          (click)="mostrarAlertaGuardarCategoria()"
          class="custom-button-1"
        >
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>

      <!-- Selector de Disponibilidad -->
      <ion-select
        color="warning"
        class="input-container"
        placeholder="si"
        interface="popover"
        fill="outline"
        label="Disponible"
        [(ngModel)]="producto.producto_Disponible"
      >
        <ion-select-option [value]="true">Sí</ion-select-option>
        <ion-select-option [value]="false">No</ion-select-option>
      </ion-select>

      <!-- Input de Nombre -->
      <ion-input
        color="warning"
        class="input-container"
        label="Nombre"
        label-placement="floating"
        fill="outline"
        placeholder="Hojaldre"
        [(ngModel)]="producto.producto_Nombre"
      ></ion-input>

      <!-- Input de Descripción -->
      <ion-input
        color="warning"
        class="input-container"
        label="Descripción"
        label-placement="floating"
        fill="outline"
        placeholder="Descripción"
        [(ngModel)]="producto.producto_Descripcion"
      ></ion-input>

      <!-- Input de Precio -->
      <ion-input
        color="warning"
        class="input-container"
        label="Precio"
        label-placement="floating"
        fill="outline"
        placeholder="15.00"
        [(ngModel)]="producto.producto_Precio"
        type="number"
      ></ion-input>

      <!-- Input de Precio Puntos -->
      <ion-input
        color="warning"
        class="input-container"
        label="Precio Puntos"
        label-placement="floating"
        fill="outline"
        placeholder="200"
        [(ngModel)]="producto.producto_PrecioPuntos"
        type="number"
      ></ion-input>

      <!-- Carga de Imagen -->
      <div class="image-upload-container">
        <img
          [src]="producto?.imagenes?.imagenProducto_Url"
          alt="Producto"
          class="product-image"
        />
        <ion-button (click)="fileInput.click()" class="custom-button-2">
          Seleccionar archivo
          <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
          <input
            type="file"
            #fileInput
            class="file-input"
            (change)="onFileSelected($event)"
          />
        </ion-button>
      </div>

      <!-- Botones de Guardar y Eliminar -->
      <div class="guardar">
        <ion-button class="custom-button-1" (click)="actualizarProducto()">
          Guardar
        </ion-button>
        <ion-button class="custom-button-4" (click)="alertaEliminarProducto()">
          <ion-icon name="trash-outline"></ion-icon> Eliminar
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
