<ion-content class="ion-no-scroll">
  <div class="food-order-container">
    <div class="menu-section">
      <div class="top-section">
        <div *ngIf="isScanning" class="qr-scanner-box">
          <zxing-scanner
            [formats]="[BarcodeFormat.QR_CODE]"
            (scanSuccess)="onScanSuccess($event)"
            [device]="currentDevice || undefined"
            [enable]="scannerEnabled">
          </zxing-scanner>
        </div>
        <div class="number-input">
          <ion-input
            placeholder="Ingrese número de 10 dígitos"
            [maxlength]="10"
            [minlength]="10"
            type="tel"
            [(ngModel)]="inputNumber"
            class="custom-input"
            fill="outline"
          ></ion-input>
          <ion-button (click)="scanQR()" class="custom-button-1">
            <ion-icon name="qr-code-outline"></ion-icon>
            Escanear QR
          </ion-button>
        </div>

     

    </div>

      <div class="products-container">

        
        <div class="products-grid" style="overflow-y: auto; max-height: 440px;">
          <div class="product-item" *ngFor="let product of products">
            <div class="product-image" [style.background-image]="'url(' + product.image + ')'" ></div>
            <p class="product-name">{{ product.name }}</p>
            <p class="product-price">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>

            <ion-button *ngIf="!isProductInOrder(product)" (click)="addToOrder(product)" fill="clear">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>

            <div *ngIf="isProductInOrder(product)" class="order-item-controls">
              
              <ion-button (click)="decreaseQuantity(product)" fill="clear" color="danger" class="icon">
                <ion-icon name="remove-circle-outline"></ion-icon>
              </ion-button>
              <span>{{ getProductQuantity(product) }}</span>
              <ion-button (click)="increaseQuantity(product)" fill="clear" color="success" class="icon">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="removeFromOrder(product)" fill="clear" color="danger" class="icon">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="order-summary">
      <h2>Resumen del pedido</h2>
      <div class="order-items">
        <div *ngFor="let item of orderItems; let last = last" class="order-item">
          <ion-item-divider>
          <span class="item-name">{{ item.name }}</span>
          <span class="item-quantity">{{ item.quantity }}</span>
          <span class="item-price">{{ item.price * item.quantity | currency:'USD':'symbol':'1.2-2' }}</span>
        </ion-item-divider>
        </div>
      </div>
    
      <div class="total">
        <p>Total a pagar:</p>
        <p>{{ totalAmount | currency:'USD':'symbol':'1.2-2' }}</p>
      </div>
      
      <ion-button class="custom-button-1" expand="block" (click)="placeOrder()">Realizar Venta</ion-button>
    </div>
  </div>
</ion-content>