// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-item-background: none; 
    --ion-item-border-color: #818181;
    --ion-item-color: #818181; 
  }