<ion-content>
  <div class="content-container">
    <h1 class="title">Agregar promoción</h1>
    <div class="contenedor">
      <form [formGroup]="productoForm" (ngSubmit)="guardarProducto()">

        <ion-select
        formControlName="id_Producto"
        color="warning"
        class="input-container"
        placeholder="Selecionar"
        interface="popover"
        fill="outline"
        label="Producto"
      >
        <ion-select-option
          [value]="producto.id_Producto"
          *ngFor="let producto of productos"
        >
          {{producto.producto_Nombre}}
        </ion-select-option>
      </ion-select>

        <ion-input
          formControlName="promocionProducto_FechaInicio"
          color="warning"
          class="input-container"
          label="Fecha de inicio"
          label-placement="floating"
          fill="outline"
          type="date"
        ></ion-input>

        <ion-input
          formControlName="promocionProducto_FechaFin"
          color="warning"
          class="input-container"
          label="Fecha de fin"
          label-placement="floating"
          fill="outline"
          type="date"

        ></ion-input>

        <ion-input
          formControlName="promocion_Titulo"
          color="warning"
          class="input-container"
          label="Título de la promoción"
          label-placement="floating"
          fill="outline"
        ></ion-input>

        <ion-input
          formControlName="promocion_Descripcion"
          color="warning"
          class="input-container"
          label="Descripción de la promoción"
          label-placement="floating"
          fill="outline"
        ></ion-input>

        <div class="image-upload-container">
          <ion-button (click)="fileInput.click()" class="custom-button-2">
            Seleccionar archivo
            <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
            <input
              type="file"
              #fileInput
              class="file-input"
              (change)="onFileSelected($event)"
              (change)="almacenarImagen($event)"
            />
          </ion-button>
          <div class="imagen">
          </div>
        </div>
        <img
        [src]="imagenpreview"
        id="ImagenProductoMostrar"
      />
        <div class="guardar">
          <ion-button
            class="custom-button-1"
            [disabled]="productoForm.invalid"
            type="submit"
            >Guardar</ion-button
          >
        </div>
      </form>
    </div>
  </div>
</ion-content>
