/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/*@import "@ionic/angular/css/palettes/dark.system.css";*/

.custom-button-1 {
    --background: linear-gradient(180deg, #FF9B39 0%, #FDB300 100%);
    --color: #ffffff;
    --border-radius: 15px;
    --border: 1px solid #F67704;
    border: none;
    margin-top: 20px;
    border-radius: 15px;
    background-color: linear-gradient(180deg, #FF9B39 0%, #FDB300 100%);
  }
  .custom-button-3 {
    --background: linear-gradient(180deg, #FF9B39 0%, #FDB300 100%);
    --color: #ffffff;
    --border-radius: 10px;
    border: none;
    font-size: large;
    height: 5rem;
    width: 8rem;
    padding: 3px;
  }
  .custom-button-2 {
    --background: #ffffff;
    --color: #F67704;
    --border-radius: 15px;
    border: 1px solid #f77c09;
    margin-top: 20px;
    border-radius: 15px;
  }
  .custom-button-4 {
    --background: linear-gradient(180deg, #ff3939 0%, #fd0000 100%);
    --color: #ffffff;
    --border-radius: 10px;
    border: none;
    font-size: medium;
    height: 5rem;
    width: 8rem;
    padding: 3px;
  }
  
  ion-content {
    --background: linear-gradient(180deg, #f7f6f6 40%, #ebebeb 95%);
  }
  
  .custom-date {
   color: #F67704;
   border-radius: 15px;

  }
  ion-datetime::part(calendar-day today) {
    color: #883a13;
  }
  ion-datetime.md::part(calendar-day active),
  ion-datetime.md::part(calendar-day active):focus {
    background-color: #FFCC05;
    border-color: #FFCC05;
    color: #fff;
    
  }
  ion-datetime.md::part(calendar-day today) {
    border-color: #883a13;
  }
  .alert-custom {
    color: #f77c09;
  }
  .error-custom{
    color: #a39991;
    text-align: center;
  }
  


  
  button.alert-button.alert-button-confirm {
    background-color: #FDB300;
    color: #ffffff;
    border-radius: 8px;

  }
  button.alert-button.alert-button-cancel {
    color: #FDB300;
    border-radius: 8px;
  }
