<ion-content>
  <div class="container">
    <div  class="card">
      <div class="header">
        <h2>Promociones</h2>
        <ion-segment color="medium" value="todas" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="todas">
            <ion-label>Todas</ion-label>
          </ion-segment-button>
          <ion-segment-button value="activas">
            <ion-label>Activas</ion-label>
          </ion-segment-button>
        </ion-segment>

      </div>
      <ion-spinner *ngIf="!promociones" color="warning"></ion-spinner>
      <div class="category-item" *ngFor="let promociones of displayedPromociones">
        <div class="category-box" (click)="mostrarPromocion(promociones)">
            {{ promociones.promocion.promocion_Titulo }}
          <ion-button class="edit-button" (click)="alertaEliminarPromocion(promociones.promocion.id_Promocion, promociones.promocion.promocion_Titulo)">
            <ion-icon name="trash-outline" color="danger"></ion-icon>
          </ion-button>
        </div>
      </div>
      
     
      <ion-button class="custom-button-1" routerLink="/agregar-promocion">Agregar promoción</ion-button>
    </div>

    <div class="card"  *ngIf="porcentaje_puntos">
      <h2>Configuración {{porcentaje_puntos?.configuracion_Clave}}</h2>
      <div class="input">
        <div class="configuracion">
          <ion-input 
          [disabled]="!isEditing" 
          [(ngModel)]="porcentaje_puntos.configuracion_Clave" 
          type="number" 
          label="Porcentaje de puntos:" 
          placeholder="%" 
          min="0" 
          max="100" 
          color="warning"
          fill="outline">
        </ion-input>
        
        <div *ngIf="!isEditing">
          <ion-button class="edit-button" (click)="startEditing()">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </div>
        </div>

        <div *ngIf="isEditing" class="editar-configuracion">
          <ion-button class="custom-button-1" (click)="saveConfig()">
            Guardar
          </ion-button>
          <ion-button  class="custom-button-2" (click)="cancelEdit()">
            Cancelar
          </ion-button>
        </div>
      </div>
      <p>Explicacion de la funcion de procentaje de puntos</p>

    </div>
    

    <div class="card">
      <h2>Categorias</h2>
      <ion-spinner *ngIf="!categorias" color="warning"></ion-spinner>
      <div class="category-item" *ngFor="let categoria of categorias">
        <div class="category-box">{{categoria.categoria_Nombre}}
          <ion-button class="edit-button" >
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
